[submodule "beaglebone"]
	path = lib/beaglebone
	url = https://github.com/sPyOpenSource/jcore.git
	branch = beaglebone
[submodule "embassy"]
	path = lib/embassy
	url = https://github.com/embassy-rs/embassy.git
[submodule "LakeOS"]
	path = lib/LakeOS
	url = https://github.com/sPyOpenSource/jcore.git
	branch = arm
[submodule "osblog"]
	path = lib/osblog
	url = https://github.com/sPyOpenSource/jcore.git
	branch = riscv
[submodule "stm32-data-generated"]
	path = lib/stm32-data-generated
	url = https://github.com/embassy-rs/stm32-data-generated.git
