[submodule "Zero"]
	path = Zero
	url = https://github.com/sPyOpenSource/zero.git
[submodule "OS"]
	path = OS
	url = https://github.com/sPyOpenSource/os.git
[submodule "testOS"]
	path = testOS
	url = https://github.com/sPyOpenSource/applications.git
