[submodule "Zero"]
	path = Zero
	url = https://github.com/sPyOpenSource/zero.git
[submodule "OS"]
	path = OS
	url = https://github.com/sPyOpenSource/os.git
[submodule "test"]
	path = test
	url = https://github.com/sPyOpenSource/applications.git
[submodule "AIZero"]
	path = AIZero
	url = https://github.com/sPyOpenSource/AIZero.git
[submodule "Compiler"]
	path = Compiler
	url = https://github.com/sPyOpenSource/compiler.git
